:root {
    --primary: #000000;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.super-header {
    width: 100%;
    background-color: #F7F7F7;
    padding: 0 40px;   
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.super-header-left {
    display: flex;
    gap: 1rem;
}

.super-header-nav ul {
    display: flex;
    gap: 1rem;
}

.super-header-nav ul li a {
    text-decoration: none;
    color: #777676;
    font-size: .8rem;
}

.super-header-nav ul li a:hover {
    color: black;
}

.super-header-nav ul li:not(:last-of-type) a::after  {
    content: '|';
    margin-left: 1rem;
    color: #777676;
}

.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 26px 40px;
    align-items: center;
    position: relative;
}

.header-ul {
    display: flex;
    gap: 2rem;
    
}


.header-ul li{
    padding: .8rem;
}

.header-ul-li-hover{
    
    border-bottom: 2px solid black;
}

.header-ul a {
    text-decoration: none;
    font-weight: 500;
}

.header-right{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search-bar {
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    width: 10rem;
}

.search-bar:hover {
    background-color: #D6D6D6;
}
.search-bar-left {
    border-radius: 100%;
    width: 26px;
    height: 26px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-left:hover {
     background-color: rgb(247, 247, 247);
}
.icon-container {
    width: 16px;
    height: 16px;
}

.search-input {
    background-color: transparent;
    border: none;
    padding: .8rem .5rem;
    height: 100%;
    font-size: .8rem;
    outline: none;
}

.search-input::placeholder {
    color: #ABABAB;
}

.shop-icon {
    width: 26px;
    height: 26  px;
}


.sub-menu {
    display: flex;
    column-gap: 3rem;
    row-gap: 1rem;
    
    flex-wrap: wrap;
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    
    background-color: white;
    padding: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    z-index: 5;
}

.sub-menu.close {
    display: none;
}

.close {
    display: none;
}
.open {
    display: block;
}

.sub-menu h1 {
    font-size: 1rem;
    font-weight: 500;   
    color: #000000;
    margin-bottom: 1rem;
}

.sub-menu a {
    color: #777676;
    text-decoration: none;
}

.sub-menu a:hover {
    color: #000;
}
.sub-menu li {
    margin-bottom: .5rem;
}

.ofertas {
    width: 100%;
    background-color: #F3F3F3;
}

.ofertas-track {
    width: 60%;
    margin: 0 auto;
    overflow-x: hidden;
}

.icon-next, .icon-prev {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 4;
}

.icon-left {
    left: 0;
}
.icon-next {
    right: 0;
}

.ofertas-track {
    position: relative;
}

.ofertas-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: all ease-in 500ms;
}

.ofertas-wrapper p {
    min-width: 100%;
    text-align: center;
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
    font-weight: normal;

}