:root {
    --primary: #000000;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.super-header {
    width: 100%;
    background-color: #F7F7F7;
    padding: 0 40px;   
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.super-header-left {
    display: flex;
    gap: 1rem;
}

.super-header-nav ul {
    display: flex;
    gap: 1rem;
}

.super-header-nav ul li a {
    text-decoration: none;
    color: #777676;
    font-size: .8rem;
}

.super-header-nav ul li a:hover {
    color: black;
}

.super-header-nav ul li:not(:last-of-type) a::after  {
    content: '|';
    margin-left: 1rem;
    color: #777676;
}

.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 26px 40px;
    align-items: center;
    position: relative;
}

.header-img {
    order:1
}

#nav-header {
    order: 2;
}

.header-ul {
    display: flex;
    gap: 2rem;
    
}


.header-ul li{
    padding: .8rem;
    border-bottom: 2px solid transparent;
}

.header-ul li.header-ul-li-hover{
    
    border-bottom: 2px solid black;
}

.header-ul a {
    text-decoration: none;
    font-weight: 500;
}

.header-right{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search-bar {
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    width: 10rem;
    margin-left: auto;
    order: 3;
}

.search-bar:hover {
    background-color: #D6D6D6;
}
.search-bar-left {
    border-radius: 100%;
    width: 26px;
    height: 26px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-left:hover {
     background-color: rgb(247, 247, 247);
}
.icon-container {
    width: 16px;
    height: 16px;
}

.search-input {
    background-color: transparent;
    border: none;
    padding: .8rem .5rem;
    height: 100%;
    font-size: .8rem;
    outline: none;
}

.search-input::placeholder {
    color: #ABABAB;
}

.shop-icon {
    width: 26px;
    height: 26px;
    order: 4;
    margin-left: 1rem;
}

.menu-icon {
    width: 26px;
    height: 26px;
    margin-left: 1rem;
    display: none;
    order: 5;
}


.sub-menu {
    display: flex;
    column-gap: 3rem;
    row-gap: 1rem;
    
    flex-wrap: wrap;
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    
    background-color: white;
    padding: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    z-index: 5;
}

.sub-menu.close {
    display: none;
}

.close {
    display: none;
}
.open {
    display: block;
}

.sub-menu h1 {
    font-size: 1rem;
    font-weight: 500;   
    color: #000000;
    margin-bottom: 1rem;
}

.sub-menu a {
    color: #777676;
    text-decoration: none;
}

.sub-menu a:hover {
    color: #000;
}
.sub-menu li {
    margin-bottom: .5rem;
}

.ofertas {
    width: 100%;
    background-color: #F3F3F3;
}

.ofertas-track {
    width: 60%;
    margin: 0 auto;
    overflow-x: hidden;
}

.icon-next, .icon-prev {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 4;
}

.icon-left {
    left: 0;
}
.icon-next {
    right: 0;
}

.ofertas-track {
    position: relative;
}

.ofertas-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: all ease-in 500ms;
}

.ofertas-wrapper p {
    min-width: 100%;
    text-align: center;
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
    font-weight: normal;
}

.breadcrumbs ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    padding: 3rem 0 3rem 0;
    align-items: center;
    position: relative;
}

.breadcrumbs a {
    text-decoration: none;
    color: #777676;
}

.breadcrumbs a:hover {
    color: #000;
}

.breadcrumbs li:not(:last-child)::after {
    content: '\00a0›';
    color: #777676;
    font-size: 1rem;
    
}

.main-content {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    gap: 1rem;
}

.big-images {
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    width: 80%;
    height: min-content;
}

.big-image {
    width: 48%;
    max-height: min-content;
}

.big-image img {
    width: 100%;
}

.big-images-responsive {
    display: none;
}

.tennis-infos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}

.product {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.product h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

.product .price-old {
    font-size: 1rem;
    color: #777676;
    text-decoration: line-through;
    font-weight: 500;
}

.price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product .price {
    font-size: 1rem;
    font-weight: 500;
}

.product .ou{
    font-size: .9rem;
}

.product .off {
    color: #6ACF7A;
}

.small-gallery {
    width: 100%;
    display: flex;
    gap: .5rem;

}

.small-img {
    width: 20%;
    height: auto;
}

.small-img.active {
    border: 1px solid black;
    border-radius: 8px;
    height: 100%;
}

.small-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.sizes h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

.size-panel {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
}

.size-panel .size{
    width: 22%;
    padding: 1rem 1rem;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
    border: 1px solid #B6B6B6;
    transition: all ease-in 200ms;
    cursor: pointer;
}

.size-panel .size:hover {
    border-color: black;
}

.size-panel .size.out{
    color: #B6B6B6;
    background-color: #F2F2F2;
    border: none;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0) linear-gradient(to right top, rgb(214, 214, 214) calc(50% - 1px), rgb(115, 115, 115), rgb(214, 214, 214) calc(50% + 1px)) repeat scroll 0% 0%;
    opacity: .3;
}

.size-panel .size.out span {
    opacity: 1;
}

.size-panel .size.out:hover {
    border: 1px solid black;
    
}

button.add{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #000;
    width: 100%;
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

button.add:hover{
    opacity: .8;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 250px;
    overflow-y: hidden;
    position: relative;
    transition: all 400ms ease-in;
}

.details.open{
    height: 100%;
    transition: all 400ms ease-in;
}

.details::after {
    width: 100%;
    height: 60px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgb(255, 255, 255));
    position: absolute;
    bottom: 0px;
    content: '';
}

.details.no-after::after {
    display: none;
}

.details h1{
    font-size: 1rem;
    font-weight: 600;
}

.details p {
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 1rem;
}

.details p strong {
    font-weight: 700;
}

.details ul li{
    list-style: disc;
    margin-left: 2rem;
    margin-bottom: .7rem;
}

.outros-detalhes {
    margin-top: 2rem;
}
.outros-detalhes li {
    
    list-style: disc;
    margin-left: 2rem;
    margin-bottom: .2rem;
    font-size: .9rem;
}

.frete.close{
    display: none;
}

.calcular-frete {
    border-top: 1.2px solid #B6B6B6;
    border-bottom: 1px solid #B6B6B6;
    padding: 1rem 0 ;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.frete p {
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 400;
}

.input-wrapper{
    margin: .5rem 0;
    padding: .5rem 1rem;
    background-color: white;
    border: 1px solid #B6B6B6;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.input-wrapper input{
    border: none;
    background-color: white;
    font-size: 1rem;
    outline: none;
}

.input-wrapper button {
    background-color: #000;
    color: white;
    border-radius: 30px;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border: none;
}

.duvidas {
    margin-top: 3rem;
}

.also-like {
    width: 75%;
    margin: 2.5rem auto;
}

.also-like > h1 {
    font-size: 1.125em;
    margin-bottom: 1.5rem;
}

.like-wrapper {
    width: 100%;
    position: relative;
}

.like-track {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: hidden;
    position: relative;
    justify-content: space-between;
}

.like-track-wrapper {
    width: 100%;
    position: relative;
}

.like-track-wrapper::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 34%;
    width: 30px;
    height: 30px;
    background-color: #777676;
    border-radius: 100%;
    overflow-x: auto;
    z-index: 5;
}

.like-track-wrapper::after {
    content: '';
    position: absolute;
    right: -15px;
    top: 34%;
    width: 30px;
    height: 30px;
    background-color: #777676;
    border-radius: 100%;
    overflow-x: auto;
    z-index: 5;
}

.like-item {
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: .2rem
}

.like-img img {
    width: 100%;
}

.like-item h1{
    font-size: .875rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.like-item p {
    font-size: .8rem;
}

.like-item p.old-price {
    text-decoration: line-through;
    color: #777676;
}

.footer {
    background-color: #000;
    width: 100%;
    color: white;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #777676;
    padding-bottom: 1rem;
}

.footer-top .footer-col a, .footer-top .footer-col h1 {
    color: white;
}

.footer-col {
    width: 20%;
}


.footer-col p {
    margin-bottom: .7rem;
}

.footer-col a {
    text-decoration: none;
}

.footer-col p a {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}

.footer-col h1 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer-col nav li {
    margin-bottom: .5rem;
    font-size: .8rem;
}

.footer-col nav li a:hover {
    color: #B6B6B6;
}

.socials {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.socials .social-icon{
    background-color: #777676;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    
}

.socials .social-icon:hover {
    background-color: #B6B6B6;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 70%;
 
}

.card {
    background-color: #f8efef;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.footer-left {
    width: 35%;
    margin-right: 1rem;
}

.footer-left a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    font-size: .75rem;
}

.footer-right {
    width: 65%;
}

.footer-right p {
    color: #fff;
    text-decoration: none;
    font-size: .75rem;
    text-align: right;
    line-height: 1.4;
}

@media screen and (max-width: 1200px){
    .header-ul {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .header {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: left;
    }
    .header-img {
        margin-right: auto;
    }
    .search-bar {
        order: 6;
        width: 100%;
    }
    .ofertas-track {
        width: 90%;
    }
}

@media screen and (max-width: 992px){
    .header {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .super-header {
        display: none;
    }
    .main-content {
        width: 90%;
    }
    .ofertas-track {
        width: 90%;
        margin-bottom: 3rem;
    }
    .breadcrumbs {
        display: none;
    }
    .big-images {
        display: none;
    }
    .tennis-infos{
        width: 100%;
    }
    .price-wrapper {
        flex-direction: row;
    }
    .big-images-responsive {
        width: 100%;
        display: flex;
        overflow: hidden;
        overflow-x: hidden;
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .big-image-responsive {
        min-width: 100%;
        
    }
    .big-image-responsive img {
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px){
    .ofertas-track {
        width: 100%;
    }
}

@media screen and (max-width: 576px){
}


@media screen and (max-width: 340px){
    #input-frete{
        width: 80%;
    }
}